@model IEnumerable<IevaThink.Models.Isms>

@{
    ViewBag.Title = "List Thoughts";
}

<h2>List Thoughts</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
              <th>
            @Html.DisplayNameFor(model => model.Thought)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>   
          <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thought)
        </td>
   
    </tr>
}

</table>
